/* CSS Reset */

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* My Reset */

*::before, *::after {
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

input, button {
    outline: 0;
}

/* Common */

html, body {
    font-size: 16px;
}

body {
    
    background: url(../media/back.jpg);
    background-position: center;
    background-size: cover;
    opacity: 0.7;
}

 .heading {
    width: 100%;
    font-size: 40px;
    font-weight: bold;
    text-align: center;
    color: #9cf5f8;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.header {
    width: 100%;
    background-color: rgb(43, 24, 24)
}




.main-content {
    padding-bottom: 2.5rem;
    background: rgb(43, 24, 24);
    z-index: 5;
    background-position: center;
    background-size: cover;
    opacity: 1;
    
}

.grid {
    display: grid;
    grid-template-columns: 1fr  1fr 1fr;
    justify-content: center;
  
}

.container {
    max-width: 800px;
    margin: 0 auto;
}


.btn {
    padding: 0.8rem 0;
    width: 50%;
    margin: 6rem auto;
}

/* input-fields */

.input-field, .label {
    padding: 1.1rem 0.1rem;
    margin: 0rem 2rem;
}

.label {
    margin-top: 1.5rem;
    font-size: 1.4rem;
    font-weight: bold;
    text-align: center;
    color: #fff;
    opacity: 1;
    z-index: 55;
    
}

.input-field {    
    outline: 0;
    border: 0.5px solid #777;
    border-radius: 0.5rem;
    color: maroon;
    background-color: rgb(250, 253, 250);
    text-align: center;
    font-size: 0.96rem;
    font-weight: bold;
    opacity: 1;
    z-index: 5;
}


@media all and (max-width : 767px) {
    html,body {
        font-size: 8px;
    }


    .input-field, .label {
        padding: 2rem 0rem;
        margin: 0rem 1rem;
    }

    .input-field {
        margin-bottom: 15rem;
        font-size: 1rem;
    }
    

}

@media all and (max-width : 380px) {
    html,body {
        font-size: 6px;
    }

    .main-content{
        width: 100%;
        padding-bottom: 4rem;
    }


    .input-field, .label {
        padding: 2rem 0rem;
        margin: 0rem 1rem;
    }

    .input-field {
        margin-bottom: 15rem;
        font-size: 1rem;
    }
    

}

